<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <div class="container head__parent">
    <h1>NauApp</h1>
  </div>
  <div class="container main">
    <h1>Find a Job or Give one.</h1>
    <p>NauApp is a beautiful platform for finding a job or providing one.</p>
    <div class="sign__in">
      <span><i>LogIn</i> if you are a memeber</span>
      <form ng-submit="userLogin()">
        <input class="form-control" type="text" ng-model="susername" placeholder="Username">
        <input class="form-control" type="password" ng-model="spassword" placeholder="Password">
        <center><button  class="btn btn-default" type="submit" name="button" ng-disabled="!(susername && spassword)">LogIn</button></center>
        <a href="/signup">SignUp</a><span> if you dont have one</span>
      </form>
      <center><button  class="btn btn-default" type="submit" name="button" ng-if="loggedIn()" ng-click="logout()">LogOut</button></center>
      <div align="center" class="alert alert-success user__signin--alert" role="alert" ng-if="success">{{ success }}</div>
    </div>
  </div>
  <div class="container foot__parent">
    <h2>HEYYYYY</h2>
  </div>
</body>
</html>
